{% render 'partials/head.liquid' %}

<article> 
 <h1> {{ person.name }} </h1>
   <h2> {{ person.home }} </h2>
     <p> {{ person.info }} </p>
       <h3> {{ person.contact }} </h3>
         <img src="/bewerkte-foto.png">
</article>

{% render 'partials/foot.liquid' %}
