.profile-card-V2
{display: flex;
flex-direction: row;
} 

.profile-card-V2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  background-color: #8f8b8b ;
  border-radius: 20px;

}

img{width: 350px;}
img{height: 400px;
}

p{margin: 0;}

h1{margin: 0 0 2px 0;}

body

/* mathijs heeft deze code voor mij geschreven, 
ik begrijp het stukje animation en de waardes die 
bij translateX staan  */

@keyframes slider {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform:  translateX(-100vw);
  }
}

h2{
  animation: slider 8s infinite ;
}

.slider {
  max-width: 100vw;
  overflow: hidden;
}

.tekst1{width: 50%;}
p {font-size: 2rem;}
h2{font-size: 3rem;}
h3{font-size: 2rem;}

