

article {
 position: absolute;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%);

  background-color: red;
  outline: solid;
  width: 50em;
  aspect-ratio: 2/1;
  border-radius: .1rem;

  box-shadow: 
  2px 2px 0 #black,
  4px 4px 0 #black,
  6px 6px 10px rgba(0,0,0,0.1);
}

img {
  width: 15%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: absolute;
  right: 5%;
  bottom: 10%;
}